.debug [class*="col-"]{
  border: 1px solid black;

}

.ms_top-header{
  height: 60px;
}

.logo{
  width: 120px;
  height: 60px;
  margin-left: 30px;

}
.ms_button-header{
  height: 210px;
}

.ms_jamb{
  height: 210px;
}

.h-60{
  height: 60px;
}
.cent{
  vertical-align: middle;
}

.h-cont{
  height: 500px;

}
.ms_list .ms_lista{
  display: block;
  height: 90px;
  border-left: 1px solid grey;
  line-height: 50px;
  padding-left: 40px;
  cursor: pointer;

}
.ms_cont{
  height: 500px;
  border:1px solid black;
}
